/* declaring global variables */
:root {
    --color-shorthin: #8a2be2;
    --color-bigwide: #228b22;
    --color-round: #87ceeb;
    --color-ybox: #fffacd;
    --color-text: #000080;
}

.first {
    box-sizing: border-box;
    width: 100%;
    margin: 1.5rem 0;
    padding: .55rem;
    border: solid black 5px;
}

#left {
    display: inline-block;
    background-color: var(--color-shorthin);
    width: 3.5rem;
    height: 10rem;
}

#center {
    display: inline-block;
    background-color: var(--color-bigwide);
    width: 25rem;
    height: 13rem;
    margin: 0 3rem;
}

#right {
    display: inline-block;
    background-color: var(--color-round);
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
}

.second {
    box-sizing: border-box;
    width: 100%;
    margin: 1.5rem 0;
    padding: 3rem;
    border: dotted black 5px;

}
#pale-yellow {
    background-color: var(--color-ybox);
    width: 85vw;
    height: 13rem;
    box-shadow: 8px 10px 5px 2px #404040;
}

.last {
    box-sizing: border-box;
    width: 50%;
    margin: auto;
    padding: 6rem;
    justify-content: center;
    align-items: center;
    border: solid #cdcdcd 1px;
    box-shadow: 5px 7px 5px -1px #cdcdcd;
}

h1 {
    text-align: center;
    color: var(--color-text);
    letter-spacing: 6px;
}